# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml

# Environment
# .env (Dihapus agar bisa di-copy ke docker)
.env.*

# Go
vendor/
bin/
tmp/
*.log
*.out
*.exe
*_test.go

# OS
.DS_Store
Thumbs.db
