PORT=3000
DB="host=localhost user=user password=password dbname=dbname port=5432 sslmode=disable TimeZone=Asia/Jakarta"
DBURL=postgres://user:password@localhost:5432/dbname?sslmode=disable

DB_DATABASE=
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_SSLMODE=
DB_TIMEZONE=


JWT_SECRET=WONGIRENGJEMBUTEN_BANYAK_SEKALI-NIPPON-SUKA-SEKALI-RADIT-SIFU-2-ORANG-SEKALIGUS

