# --------------------------
# Environment
# --------------------------
.env

# --------------------------
# Temporary / Build
# --------------------------
tmp/
*.tmp
*.log

# --------------------------
# folder rak penting
# --------------------------
storage/

# --------------------------
# Node / npm (backend might use some node scripts)
# --------------------------
node_modules/
package-lock.json
package.json

# --------------------------
# Docker / Air / OS
# --------------------------
.DS_Store
database.sql
database_structure_dump.sql
# --------------------------
# Go / bin
# --------------------------
bin/
*.exe
*.out
