<header class="flex justify-center gap-5 py-5">
  <a href="/" class="cursor-pointer rounded-md border px-2">home</a>
  <a href="/blog" class="cursor-pointer rounded-md border px-2">blog</a>
  <a href="/gallery" class="cursor-pointer rounded-md border px-2">gallery</a>
</header>
