@import 'tailwindcss';

:root {
    --color-primary: #0a84dc;
    --color-secondary: #fafafa;
    --text-primary: #0f0f0f;
    --text-secondary: #222222;
    --font-poppins: 'Poppins', sans-serif;
    --font-jakarta: 'Plus Jakarta Sans', sans-serif;
    --font-raleway: 'Raleway', sans-serif;
}

.font-jakarta {
    font-family: var(--font-jakarta);
}

.font-poppins {
    font-family: var(--font-poppins);
}

.font-raleway {
    font-family: var(--font-raleway);
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none; /* IE & Edge */
    scrollbar-width: none; /* Firefox */
}
