---
import PublicLayout from "../layouts/PublicLayout.astro";
---

<PublicLayout title="Blog">
  <section class="flex justify-center">
    <p class="text-7xl">HALAMAN BLOG</p>
  </section>
</PublicLayout>
