---
import PublicLayout from "../layouts/PublicLayout.astro";
---

<PublicLayout title="Gallery">
  <section class="flex justify-center">
    <p class="text-7xl">HALAMAN GALLERY</p>
  </section>
</PublicLayout>
