---
import PublicLayout from "../layouts/PublicLayout.astro";
---

<PublicLayout title="Home">
  <section class="flex justify-center">
    <p class="text-7xl">HALAMAN INDEX</p>
  </section>
</PublicLayout>
