---
import AdminLayout from "../../layouts/AdminLayout.astro";
---

<AdminLayout title="Dashboard">
  <section class="mt-[45vh] flex justify-center">
    <p class="text-7xl">HALAMAN INDEX ADMIN</p>
  </section>
</AdminLayout>
